<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.vonbot.vpn-keepalive</string>

    <key>ProgramArguments</key>
    <array>
        <string>/bin/bash</string>
        <string>/Users/jeffreystark/Development/key/vonbot/scripts/vpn-keepalive.sh</string>
    </array>

    <key>RunAtLoad</key>
    <true/>
    <key>StartInterval</key>
    <integer>60</integer>

    <key>StandardOutPath</key>
    <string>/Users/jeffreystark/Development/key/vonbot/logs/vpn-keepalive.log</string>
    <key>StandardErrorPath</key>
    <string>/Users/jeffreystark/Development/key/vonbot/logs/vpn-keepalive.log</string>
</dict>
</plist>
